<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>927600932135-bpoo44at5hojc462a7uetnd0to961skb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927600932135-bpoo44at5hojc462a7uetnd0to961skb</string>
	<key>API_KEY</key>
	<string>AIzaSyBTeSMOHyvKcUkwSEAY0LPvwSeNdXbGSeA</string>
	<key>GCM_SENDER_ID</key>
	<string>927600932135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iengpho.TosChat</string>
	<key>PROJECT_ID</key>
	<string>kchic-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>kchic-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927600932135:ios:4a5d91b2510bac94</string>
	<key>DATABASE_URL</key>
	<string>https://kchic-chat.firebaseio.com</string>
</dict>
</plist>